
  <ion-header>
      <ion-navbar color="danger" class="padding-top:10px;" style="color:#ffffff; font-size: 20px;" hideBackButton>
        <ion-row>
          <ion-col col-1 style="font-size: 1.5em;" (click)="BackPage()">
            <ion-icon name="md-arrow-round-back" ></ion-icon>
          </ion-col>
          <ion-col col-2 style="padding:0">
            <span *ngIf="user_image == 0">
              <p style="background: red; color:#fff; text-align: center; width: 40px; height: 40px; padding:7px; margin:5px; border-radius:50%;">{{business_name | slice:0:1}}</p>
            </span>
            <div *ngIf="user_image != 0">
              <img style="width:2.5em; height:2.5em; border-radius: 50%; margin:4px;" src="https://eximbin.com/api/uploads/{{user_image}}" class="groupicon"/>
            </div>
          </ion-col>
          <ion-col col-6>
            <b>{{business_name}}</b><br><span style="font-size: 15px !important;">{{chat_status}}</span>
          </ion-col>
          <ion-col col-2 (click)="callUser()">
            <ion-icon name="call" color="light" style="font-size: 2em;" ></ion-icon>
          </ion-col>
        </ion-row>
      </ion-navbar>
    </ion-header>

  
  <ion-content #scrollElement padding >
    <ion-refresher (ionRefresh)="doRefresh($event)"></ion-refresher>  
    <div class="main" id="condiv">
      <ion-list no-lines  *ngFor="let msg of chatdata" style="padding-right: 2.5%; padding-left: 2.5%;"> 
        <div class="message received" *ngIf="user_id != msg.posted_by">
            {{ msg.message }}
            <img  *ngIf="msg.file_type=='image'"src="{{imgUrl}}/uploads/{{msg.file_path}}" height="200" width="60%"/>
            <span class="metadata"><!-- <span class="time">{{ msg.posted_time  | date:'h:mm'}}</span> --></span>
        </div>
        <div class="message sent" *ngIf="user_id == msg.posted_by">
            {{ msg.message }}
            <img  *ngIf="msg.file_type=='image'" src="{{imgUrl}}/uploads/{{msg.file_path}}" height="200" width="100%"/>
            <span class="metadata"><!-- <span class="time">{{ msg.posted_time | date:'h:mm'}}</span> --></span>
        </div>
    </ion-list>
    </div>
   
      <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
  </ion-content>
  <ion-footer>  
    <div class="second">
      <div *ngIf="attachments" style="background-color: rgb(229, 230, 228); z-index:9999;">
  <b style="color:red" (click)="closeDiv()"><ion-icon name="close-circle" style="font-size: 1.5em;" color="red" float-right></ion-icon></b>
<ion-row style="text-align: center;">
  <ion-col col-3 (click)="attachFile()"><ion-icon name="camera" style="font-size: 3em;" color="danger"></ion-icon><br>Photos</ion-col>
  <ion-col col-3 (click)="uploadVideo()"><ion-icon name="videocam" style="font-size: 3em;" color="danger"></ion-icon><br> Videos</ion-col>
  <ion-col col-3 (click)="uploadAudio()"> <ion-icon name="mic" style="font-size: 3em;" color="danger"></ion-icon><br> Audio</ion-col>
  <ion-col col-3 (click)="uploadFile()"><ion-icon name="document" style="font-size: 3em;" color="danger"></ion-icon><br> Files</ion-col>
</ion-row>
</div>
      <ion-row>
        <ion-col col-10>
          <ion-input  placeholder="Write your message ..."[(ngModel)]="message" style="padding-left: 4%;" #inputmsg (keyup.enter)="sendMessage()"></ion-input>
        </ion-col>
        <ion-col col-1 (click)="uploadImage()">
          <ion-icon name="md-attach" color="primary" style="font-size: 2em;"></ion-icon>
        </ion-col>
        <ion-col col-1 (click)="sendMessage()">
          <ion-icon name="md-send" color="danger" style="font-size: 2em;"></ion-icon>
        </ion-col>
      </ion-row>
      
    </div>
  </ion-footer>
   