<ion-header>
  <ion-navbar color="orangebtn" hideBackButton class="padding-top:10px;">
    <ion-row>
      <ion-col col-2 float-left style="font-size: 3em ;padding-top:28px;;" (click)="Back()"><ion-icon name="arrow-back" color="danger"></ion-icon></ion-col>
      <ion-col col-8 text-center style="padding-top:30px;" class="home-icon" ><img src="../assets/imgs/logos.png" ></ion-col>
      <ion-col col-2 style="font-size: 2.5em;padding-top: 31px;" (click)="menuCtrl.toggle()" color="dark" float-right><img src="../assets/imgs/menu.png" style="height:40px;" ><p class="name-footer" style="color:#111 !important">Menu</p></ion-col>
      </ion-row>
    </ion-navbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label floating>Group Name</ion-label>
    <ion-input type="text" #groupname></ion-input>
  </ion-item>
      <!--ion-item class="item_size" no-lines>
          <ion-label>Chapters</ion-label>
          <ion-select #chapters (ionChange)="getchapusers()">
            <ion-option *ngFor="let chap of chapterslist;let i= index;" value="{{chap.id}}">{{chap.chapter_name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="item_size" no-lines>
            <ion-label>Select Users</ion-label>
            <ion-select #users multiple="true">
              <ion-option *ngFor="let user of userslist;let i= index;" value="{{user.id}}">{{user.business_name}}</ion-option>
            </ion-select>
          </ion-item-->
             <!--country-->
          <ion-item>
                <ng-multiselect-dropdown class="ngselect fs_select"  
                  [placeholder]="'users list'" 
                  [data]="userslist" 
                  [(ngModel)]="selectedchapter"
                  [settings]="dropdownSettings" 
                  (onSelect)="getusers($event)"
                  (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
                </ion-item>
          <!--state-->
        <button ion-button block (click)="create()" round class="btn" color="danger">Create</button>
</ion-content>

<ion-footer class="ftr">
  <ion-row class="ftr-row">
    <ion-col class="ftr-col" (click)="home()"><ion-icon name="home" color="light" class="ftr-icon"></ion-icon><p class="name-footer">Home</p></ion-col>
    <ion-col class="ftr-col" (click)="leads()"><ion-icon ios="ios-albums" md="md-albums" class="ftr-icon" color="light"></ion-icon><p class="name-footer">Leads</p></ion-col>
    <ion-col class="ftr-col-active" (click)="chatting()"><ion-icon ios="ios-chatboxes" md="md-chatboxes" class="ftr-icon" color="danger"></ion-icon><p class="name-footer-active">Chat</p></ion-col>
    <ion-col class="ftr-col" (click)="webinar()"><ion-icon ios="ios-videocam" md="md-videocam" class="ftr-icon" color="light"></ion-icon><p class="name-footer">Miivision</p></ion-col>
    <ion-col class="ftr-col"  (click)="quotes()"><ion-icon ios="ios-send" md="md-send" class="ftr-icon" color="light"></ion-icon ><p class="name-footer">Post Lead</p></ion-col>
    </ion-row>
 </ion-footer>


<!-- <ion-footer class="ftr">
    <ion-row class="ftr-row">
      <ion-col class="ftr-col" (click)="home()"><ion-icon name="home" class="ftr-icon"></ion-icon><p class="name-footer">Home</p></ion-col>
      <ion-col class="ftr-col" (click)="leads()"><ion-icon name="clipboard" class="ftr-icon"></ion-icon><p class="name-footer">Leads</p></ion-col>
      <ion-col class="ftr-col" (click)="chatting()"><ion-icon name="chatbubbles" class="ftr-icon"></ion-icon><p class="name-footer">Chat</p></ion-col>
      <ion-col class="ftr-col" (click)="webinar()"><ion-icon name="photos" class="ftr-icon"></ion-icon><p class="name-footer">Webinar</p></ion-col>
      <ion-col class="ftr-col"  (click)="quotes()"><ion-icon name="send" class="ftr-icon"></ion-icon><p class="name-footer">Post Lead</p></ion-col>
      </ion-row>
   </ion-footer> -->