page-payment-failure {

.btn{
text-align: center;
}
.title{
    text-align: center !important;
    font-family: bold;
    font-size: 20px;
}
.sub-txt{
    text-align: center;
    color: #b1aaad;

}
.pf-card{
padding: 10px;
}
}
