page-idontknowhscode {
    
    .container{
        font-size: 1.3em;
        line-height: inherit;
        margin-top: 2%;
        text-align: left;
    }

   .dropitm{
      border: 1px solid #adadad;
      margin-top: 2%;
    }

   .buttoncss{
      color: white;
    }

  /*   .alert-md .alert-message {
      max-height: 240px;
      font-size: 15px;
      border-bottom: 1px solid white;
      color: white;
    }
  
    .alert-md .alert-title {
      font-size: 22px;
      text-align: center;
    }

   .alert-md .alert-input-group{
      color:white;
    }

    .alert-wrapper{
      opacity: 1;
      border-radius: 16px !important;
      background: linear-gradient(180deg, rgba(54,17,106,1) 0%, rgba(178,47,48,1) 100%);
      color: white;
      text-align: center;
      transform: scale(1);
    }

    .alert-md .alert-button {
      text-align: center;
      border: 1px solid white;
      border-radius: 9px !important;
      color: white;
      background-color: transparent;
    
    }
    .alert-radio-label {
      color:white;
    }
 
    .alert-md .alert-radio-label {
      color: white;
    }
    .stack-label{
      text-align: left;
      font-size:1.8rem !important;
    }
   
    .btn-div{
      text-align: center;
    }


    .alert-md .alert-message, .alert-md .alert-input-group {
        color: white !important;
        padding: 0 24px 24px;
      } */
      .toast-scheme {
        .toast-message { 
            background:#07c1ee !important ;
            color: white!important ;
        }
      }
        

}
