
<ion-header>
  <ion-navbar color="orangebtn" hideBackButton class="padding-top:10px;">
    <ion-row>
      <ion-col col-2 float-left style="font-size: 3em ;padding-top:28px;;" (click)="Back()"><ion-icon name="arrow-back" color="danger"></ion-icon></ion-col>
      <ion-col col-8 text-center style="padding-top:30px;" class="home-icon" ><img src="../assets/imgs/logos.png" ></ion-col>
      <ion-col col-2 style="font-size: 2.5em;padding-top: 31px;" (click)="menuCtrl.toggle()" color="dark" float-right><img src="../assets/imgs/menu.png" style="height:40px;" ><p class="name-footer" style="color:#111 !important">Menu</p></ion-col>
      </ion-row>
    </ion-navbar>
</ion-header>
  
  
  <ion-content class="container"> 
    <ion-row *ngIf="Plans">
    <ion-col style="padding: 0;">
      <table border="1"  style="color:#252f6a; font-weight: bold;" width="100%">
        <tr>
          <th>S.No</th>
          <th height="50px">Package PLANS FEATURES</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Banners</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Chapter 01 to 99</td>
        </tr>
        <tr>
          <td>2.a</td>
          <td>Select Options</td>
        </tr>
        <tr>
          <td>3</td>
          <td>HS Code Access</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Chat Options</td>
        </tr>
        <tr>
          <td>4.a</td>
          <td>Buyers</td>
        </tr>
        <tr>
          <td>4.b</td>
          <td>Sellers</td>
        </tr>
        <tr>
          <td>4.c</td>
          <td>Audio & Video Calls</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Webinar</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Inbox</td>
        </tr>
        <tr>
          <td>7</td>
          <td>Lead Posting</td>
        </tr>
        <tr>
          <td>7.a</td>
          <td>Buy Leads</td>
        </tr>
        <tr>
          <td>7.b</td>
          <td>Sell Leads</td>
        </tr>
        <tr>
          <td>8</td>
          <td>RFQ</td>
        </tr>
        <tr>
          <td>9</td>
          <td>Credits</td>
        </tr>
        <tr>
          <td>10</td>
          <td>Duration</td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
      </table>
    </ion-col>
    <ion-col  style="padding: 0;" class="fea-values" *ngFor="let subdata of upgradeplans; let i = index;">
      <table border="1" style="color: green;" width="100%">
        <tr  style="color:#252f6a; font-weight: bold;">
            <th width="33%" height="50px">{{subdata.plan_name}}</th>
        </tr>
          <tr>
              <td class="red_{{subdata.banners}}">{{subdata.banners}}</td>
          </tr>
          <tr>
              <td class="red_{{subdata.chapters}}">{{subdata.chapters}}</td>
          </tr>
          <tr>
            <td class="red_{{subdata.selectOption}}">{{subdata.selectOption}}</td>
          </tr>
          <tr>
              <td class="red_{{subdata.hscodes}}">{{subdata.hscodes}}</td>
          </tr>
          <tr>
              <td class="red_{{subdata.chat}}"><span *ngIf="subdata.chat==1">YES</span><span *ngIf="subdata.chat==0">NO</span></td>
          </tr>
          <tr>
            <td class="red_{{subdata.chat_buyers}}">{{subdata.chat_buyers}}</td>
          </tr>
          <tr>
            <td class="red_{{subdata.chat_sellers}}">{{subdata.chat_sellers}}</td>
          </tr>
          <tr>
            <td class="red_{{subdata.chat_audioVideoCalls}}">{{subdata.chat_audioVideoCalls}}</td>
          </tr>
          <tr>
              <td class="red_{{subdata.webinar}}">{{subdata.credits}}</td>
          </tr> 
          <tr>
              <td class="red_{{subdata.inbox}}">{{subdata.inbox}}</td>
          </tr>
          <tr>
              <td class="red_{{subdata.leadpost}}">{{subdata.leadpost}}</td>
          </tr>
          <tr>
            <td class="red_{{subdata.buyLeads}}">{{subdata.buyLeads}}</td>
          </tr>
          <tr>
            <td class="red_{{subdata.sellLeads}}">{{subdata.sellLeads}}</td>
          </tr>
          <tr>
              <td class="red_{{subdata.rfq}}">{{subdata.rfq}}</td>
          </tr>
          <tr>
              <td class="red_{{subdata.credits}}">{{subdata.credits}}</td>
          </tr>
          <tr>
              <td class="red_{{subdata.plan_duration}}">{{subdata.plan_duration}}</td>
          </tr>
          <tr>
              <td><button ion-button small round outline color="orangebtn" class="pay-btn" (click)="free(i)">Get</button></td>
          </tr>
      </table>
  </ion-col>

   </ion-row> 
  
  <div *ngIf="showchapters">
   <p style="color:red;"> 
    you are eligible to select {{pack_id}} chapters and press upgrade </p>
  <ng-multiselect-dropdown 
  [placeholder]="'Select Chapters'" 
  [data]="chapters" 
  [(ngModel)]="selectedItems"
  [settings]="dropdownSettings"
  (onSelect)="onItemSelect($event)"
  (onSelectAll)="onSelectAll($event)"></ng-multiselect-dropdown>
  <ion-list radio-group>
    <ion-list-header>
      Payment Mode
    </ion-list-header>
  
    <ion-item>
      <ion-label>I Have a Promo Code</ion-label>
      <ion-radio  value="go" (click)="ShowPromocode()"></ion-radio>
    </ion-item>
    <div *ngIf="spromo">
      <h3>Use <span style="color:green">FIRSTRECHARGE</span> as Promo Code</h3>
    <ion-input  #promo placeholder="Please Enter Promo Code"></ion-input>
    </div>
    <ion-item>
      <ion-label>Online</ion-label>
      <ion-radio value="rust" (click)="OnlinePayment()"></ion-radio>
    </ion-item>
  </ion-list>
  <div class="upgrade-btn"><button ion-button small round color="orangebtn"   (click)="upgrade()">Upgrade</button></div>
</div>
  </ion-content>

  <ion-footer class="ftr">
    <ion-row class="ftr-row">
      <ion-col class="ftr-col-active" (click)="home()"><ion-icon name="home" color="danger" class="ftr-icon"></ion-icon><p class="name-footer-active">Home</p></ion-col>
      <ion-col class="ftr-col" (click)="leads()"><ion-icon ios="ios-albums" md="md-albums" class="ftr-icon" color="light"></ion-icon><p class="name-footer">Leads</p></ion-col>
      <ion-col class="ftr-col" (click)="chatting()"><ion-icon ios="ios-chatboxes" md="md-chatboxes" class="ftr-icon" color="light"></ion-icon><ion-badge id="cart-badge">{{showcount}}</ion-badge><p class="name-footer">Chat</p></ion-col>
      <ion-col class="ftr-col" (click)="webinar()"><ion-icon ios="ios-videocam" md="md-videocam" class="ftr-icon" color="light"></ion-icon><p class="name-footer">MiiVision</p></ion-col>
      <ion-col class="ftr-col"  (click)="quotes()"><ion-icon ios="ios-send" md="md-send" class="ftr-icon" color="light"></ion-icon ><p class="name-footer">Post Lead</p></ion-col>
      </ion-row>
   </ion-footer>