page-settings {

    .ul{
        height: 100px;
    }
    .dropdown-list[_ngcontent-c0] {
        position: relative;
    }
    .dropdown-list[_ngcontent-c1] {
        position: relative;
    }
  
    
    .toolbar-title{
        font-family: 'Source Sans Pro', sans-serif !important;
    }
   
   
    
}
