<ion-menu id="sideMenu" [content]="content" type="overlay">
    <ion-header>
     <ion-toolbar color="danger">
      <br><br>
   <ion-row class="prorow" >
     <ion-col col-2 menuClose (click)="profilepg()"><img *ngIf="user_image!='0'" 
      [src]="user_image" class="pro-image" width="30%" height="30%" alt="User Image"> 
      <span *ngIf="user_image == '0'">
        <p style="background: #e85b2a; position: absolute; top:-1em; font-size: 2em; color:#fff; text-align: center; width: 50px; height: 50px; padding:7px; border-radius:50%;">{{business_name | slice:0:1}}</p>
      </span>
    </ion-col>
    <ion-col></ion-col>
     <ion-col col-7><h2 class="name"> {{user_name}} </h2></ion-col>
     <ion-col col-2 style="color:white; text-align:center"> <img src="../assets/designs/sidemenu/menu.png" menuClose class="menu-icon"/>Menu</ion-col>
   </ion-row>  
   
      </ion-toolbar>
    </ion-header>

<ion-content class="side-container">
  <div id="google_translate_element" style="width:100%; height:50px"></div>
    <div class="side-menu" *ngIf="userdb">
      <button *ngIf="franchisebtn" menuClose ion-button round class="fr-btn" (click)="franchisedb()" > Franchise Dashboard </button>
        <ion-list class="side-menu" nolines>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" class="side-btn">
             {{p.title}}
            </button>
           </ion-list>
          <p color="danger" style="font-size:1em; text-align:right">Version:2.0</p>
    </div>
   

    <div class="side-menu" *ngIf="frdb">
        <button menuClose ion-button round class="fr-btn" (click)="userdashboard()"> User Dashboard </button>
        <ion-list class="side-menu" nolines>
            <button menuClose ion-item *ngFor="let f of fpages" (click)="openfrPage(f)" class="side-btn">
             {{f.title}}
            </button>
           </ion-list>
    </div> 
    
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav> 