page-mypurchasedetails {
text-align: left;

.white-bg{
       background : white;
       color:#111;
         
          width: 100%;
      }

.opt-btns{
       text-align: center;
       width:100%;
}

}
            
        
        
