<ion-header>
  <ion-navbar color="orangebtn" hideBackButton class="padding-top:10px;">
    <ion-row>
      <ion-col col-2 float-left style="font-size: 3em ;padding-top:28px;;" (click)="Back()"><ion-icon name="arrow-back" color="danger"></ion-icon></ion-col>
      <ion-col col-8 text-center style="padding-top:30px;" class="home-icon" ><img src="../assets/imgs/logos.png" ></ion-col>
      <ion-col col-2 style="font-size: 2.5em;padding-top: 31px;" (click)="menuCtrl.toggle()" color="dark" float-right><img src="../assets/imgs/menu.png" style="height:40px;" ><p class="name-footer" style="color:#111 !important">Menu</p></ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>
 

<ion-content padding>

<ion-list style="margin-top: 10%;">

  <ion-item>
    <ion-input type="text" placeholder="Request ID" #request_id></ion-input>
  </ion-item>
  </ion-list>
  <button ion-button small round color="danger" (click)="track()">Get Status</button>
  <div *ngIf="showdiv">
  <ion-card *ngFor="let event of events;">
    <ion-card-header color="light" style="background: green;">
      {{event.event_name}}  <span float-right >ID:{{event.request_id}}</span>
    </ion-card-header>
    <ion-card-content class="txt">
      Date :  <b class="dtl">{{event.event_date}}</b><br>
      Guests : <b class="dtl">{{event.guest}}</b><br>
      Participents :<b class="dtl">{{event.participents}}</b> <br>
      status :<b class="dtl"><span *ngIf="event.status==0">Pending for Apporval</span> <span *ngIf="event.status==1">Approved</span></b> <br>
      Budget Proposed:<b class="dtl"> {{event.budget}}</b><br>
      Apporoved Budget : <b class="dtl">{{event.approved_budget}}</b><br>
      Venue :<b class="dtl"> {{event.venue}}</b><br>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>

<ion-footer class="ftr">
  <ion-row class="ftr-row">
    <ion-col class="ftr-col" (click)="home()"><ion-icon name="home" color="light" class="ftr-icon"></ion-icon><p class="name-footer">Home</p></ion-col>
    <ion-col class="ftr-col-active" (click)="usermodule()"><ion-icon ios="ios-people" md="md-people" class="ftr-icon" color="danger"></ion-icon><p class="name-footer-active">Users</p></ion-col>
    <ion-col class="ftr-col" (click)="accounts()"><ion-icon ios="ios-cash" md="md-cash" class="ftr-icon" color="light"></ion-icon><p class="name-footer">Account</p></ion-col>
    <ion-col class="ftr-col" (click)="reports()"><ion-icon ios="ios-list-box" md="md-list-box" class="ftr-icon" color="light"></ion-icon><p class="name-footer">Reports</p></ion-col>
    </ion-row>
 </ion-footer>