
<ion-header>
  <ion-navbar color="orangebtn" hideBackButton class="padding-top:10px;">
    <ion-row>
      <ion-col col-2 float-left style="font-size: 3em ;padding-top:28px;;" > </ion-col>
      <ion-col col-8 text-center style="padding-top:30px;" class="home-icon" ><img src="../assets/imgs/logos.png" ></ion-col>
      <ion-col col-2 style="font-size: 2.5em;padding-top: 31px;" (click)="menuCtrl.toggle()" color="dark" float-right><img src="../assets/imgs/menu.png" style="height:40px;" ><p class="name-footer" style="color:#111 !important">Menu</p></ion-col>
      </ion-row>
    </ion-navbar>
</ion-header>



<ion-content class="bg-style-leads">
  <div class="spacer" style="height:0.1em"></div>
  <div>
    <ion-item-divider text-center color="danger" style="color:#fff"
      >My Credit Balance {{credits}}</ion-item-divider
    >
  </div>
  <div class="spacer" style="height:0.1em"></div>
  <div class="lead-banner-h">
    <ion-segment #segments mode="md" [(ngModel)]="page" color="white">
      <ion-segment-button value="0" (click)="selectedTab(0)">
        <div>
          <img src="../assets/designs/leads/seller.png" class="lead-type-img" style="height:40px !important" />
        </div>
      </ion-segment-button>
      <ion-segment-button value="1" (click)="selectedTab(1)">
        <div>
          <img src="../assets/designs/leads/buyer.png" class="lead-type-img" style="height:40px !important" />
        </div>
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-grid>
    <ion-slides #slider (ionSlideDidChange)="slideChanged()">
      <ion-slide>
        <ion-searchbar [(ngModel)]="terms"></ion-searchbar>
        <p style="text-align:justify; font-size:12px">Click <ion-icon name="md-heart" color="warning" item-end style="font-size:15px"> </ion-icon> button if you would like to add Lead's HSCODE as your favorite</p>
        <div class="errmsg">{{sellermsg}}</div>
         <ion-card  *ngFor="let selllead of sellleads | leadsearch: terms;  let i=index;">
          <ion-input type="hidden" [(ngModel)]="mydate" value="{{cslot | date: 'yyyy-MM-dd'}}"></ion-input>
          <div *ngIf="selllead.laterstate <=mydate"> 
                <strong style="color:red" center> Reminder Leads </strong> 
              <ion-row style="background: #fff; color: rgb(243, 93, 93); border-bottom: 1px solid grey;">
                <ion-col col-5>ID: {{selllead.leadref_id | slice:0:6}} XXXX</ion-col> 
                <ion-col col-6>HSCode: {{selllead.hsn_id}}</ion-col> 
                <ion-col col-1 style="background: #fff;"> 
                  <ion-icon *ngIf="selllead.hsstate==0" name="md-heart-outline" color="warning" item-end style="font-size:25px" (click)="mysfav(i)" > </ion-icon>
                  <ion-icon *ngIf="selllead.hsstate!=0" name="md-heart" color="warning" item-end style="font-size:25px" > </ion-icon>
                </ion-col> 
              </ion-row>
              
              <ion-row>
                <ion-col class="pro-name" col-6 style="border-right: 0.5px solid grey;" >{{selllead.description}}</ion-col>
                <ion-col class="pro-name" col-6>Quantity: <br>{{selllead.quantity}} {{selllead.uom}}  </ion-col>
                 
              </ion-row>

              <ion-row>
                <ion-col class="date" col-6><span style="background: green; color:#fff">Posted:</span> {{selllead.posted_date | date:'dd-MM-yyy'}}</ion-col>
                <ion-col class="date" col-6><span style="background: red; color:#fff"> Expires: </span> {{selllead.expiry_date | date:'dd-MM-yyyy'}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="date" col-6><span style="color:red" (click)="simport(i)">Click for Import Policy</span></ion-col>
                <ion-col class="date" col-6><span style="color:red" (click)="sexport(i)">Click forExport Policy</span></ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-4><button ion-button round small color="warning"  (click)="skipsellleads(i)"> Skip Lead</button></ion-col>
                <ion-col col-4 ><button ion-button round small color="primary"  (click)="sellleaddetails(i)">  Buy Lead </button></ion-col>
                <ion-col col-4 ><button ion-button round small color="palegreen" (click)="remindSellLeads(i)"> Remind Later </button></ion-col>
            </ion-row>
          
          </div>
          <div > 
            <ion-row style="background: #fff; color: rgb(243, 93, 93); border-bottom: 1px solid grey;">
              <ion-col col-5>ID: {{selllead.leadref_id}}</ion-col> 
              <ion-col col-6>HSCode: {{selllead.hsn_id}}</ion-col> 
              <ion-col col-1 style="background: #fff;"> 
                <ion-icon *ngIf="selllead.hsstate==0" name="md-heart-outline" color="warning" item-end style="font-size:25px" (click)="mysfav(i)" > </ion-icon>
                <ion-icon *ngIf="selllead.hsstate!=0" name="md-heart" color="warning" item-end style="font-size:25px" > </ion-icon>
              </ion-col> 
            </ion-row>
            
            <ion-row>
              <ion-col class="pro-name" col-6 style="border-right: 0.5px solid grey;" >{{selllead.description}}</ion-col>
              <ion-col class="pro-name" col-6>Quantity: <br>{{selllead.quantity}} {{selllead.uom}}  </ion-col>
               
            </ion-row>

            <ion-row>
              <ion-col class="date" col-6><span style="background: green; color:#fff">Posted:</span> {{selllead.posted_date | date:'dd-MM-yyy'}}</ion-col>
              <ion-col class="date" col-6><span style="background: red; color:#fff"> Expires: </span> {{selllead.expiry_date | date:'dd-MM-yyyy'}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="date" col-6><span style="color:red" (click)="simport(i)">Click for Import Policy</span></ion-col>
              <ion-col class="date" col-6><span style="color:red" (click)="sexport(i)">Click forExport Policy</span></ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-4><button ion-button round small color="warning"  (click)="skipsellleads(i)"> Skip Lead</button></ion-col>
              <ion-col col-4 ><button ion-button round small color="primary"  (click)="sellleaddetails(i)">  Buy Lead </button></ion-col>
              <ion-col col-4 ><button ion-button round small color="palegreen" (click)="remindSellLeads(i)"> Remind Later </button></ion-col>
          </ion-row>
        
        </div>


        </ion-card>
        <div>
          Didn't Find your Requirement?
          <button ion-button small block color="secondary" round (click)="postlead()">Click Here To Post a Buy Lead</button> 
        </div>
      </ion-slide>
      <ion-slide>
        <ion-searchbar [(ngModel)]="terms"></ion-searchbar>
        <p style="text-align:justify; font-size:12px">Click <ion-icon name="md-heart" color="warning" item-end style="font-size:15px"> </ion-icon> button if you would like to add Lead's HSCODE as your favorite</p>
        <div class="errmsg">{{buyermsg}}</div>
      
          <ion-card *ngFor="let buylead of buyleads | leadsearch: terms ; let i=index;">
         <ion-input type="hidden" [(ngModel)]="mydate" value="{{cslot | date: 'yyyy-MM-dd'}}"></ion-input>
            <div *ngIf="buylead.laterstate == mydate"> 
              <strong style="color:red" center> Reminder Leads </strong> 

            <ion-row style="background: #fff; color: rgb(243, 93, 93); border-bottom: 1px solid grey;">
              <ion-col col-6>ID: {{buylead.leadref_id | slice:0:6}} XXXX</ion-col> 
              <ion-col col-5>HSCode: {{buylead.hsn_id}}</ion-col>
              <ion-col col-1 style="background: #fff;">
              <ion-icon *ngIf="buylead.hsstate==0" name="md-heart-outline" color="warning" item-end style="font-size:25px" (click)="mybfav(i)" > </ion-icon>
                  <ion-icon *ngIf="buylead.hsstate!=0" name="md-heart" color="warning" item-end style="font-size:25px" > </ion-icon>
              </ion-col>  
            </ion-row>
            <ion-row>
                <ion-col class="pro-name" col-6 style="border-right: 0.5px solid grey;">{{buylead.description}}</ion-col >
                <ion-col class="pro-name" col-6> Quantity:<br>{{buylead.quantity}} {{buylead.uom}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="date" col-6 ><span style="background: green; color:#fff;">Posted</span>: {{buylead.posted_date | date:'dd-MM-yyyy'}}</ion-col >
                <ion-col class="date" col-6><span style="background: red; color:#fff;">Expires</span>: {{buylead.expiry_date | date:'dd-MM-yyyy'}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="date" col-6><span style="color:red" (click)="bimport(i)">Click for Import Policy</span></ion-col>
              <ion-col class="date" col-6><span style="color:red" (click)="bexport(i)">Click forExport Policy</span></ion-col>
            </ion-row>
              <ion-row>
                <ion-col col-4><button ion-button round small  color="warning" (click)="skipbuyleads(i)"> Skip Lead</button></ion-col>
                <ion-col col-4><button ion-button round small  color="primary" (click)="buyleaddetails(i)"> Buy Lead </button></ion-col>
                <ion-col col-4><button ion-button round small color="palegreen" (click)="remindBuyLeads(i)"> Remind Later </button></ion-col>
              </ion-row>

            </div> 

            <div> 

              <ion-row style="background: #fff; color: rgb(243, 93, 93); border-bottom: 1px solid grey;">
              <ion-col col-6>ID: {{buylead.leadref_id | slice:0:6}} XXXX</ion-col> 
              <ion-col col-5>HSCode: {{buylead.hsn_id}}</ion-col>
              <ion-col col-1 style="background: #fff;">
              <ion-icon *ngIf="buylead.hsstate==0" name="md-heart-outline" color="warning" item-end style="font-size:25px" (click)="mybfav(i)" > </ion-icon>
                  <ion-icon *ngIf="buylead.hsstate!=0" name="md-heart" color="warning" item-end style="font-size:25px" > </ion-icon>
              </ion-col>  
            </ion-row>
            <ion-row>
                <ion-col class="pro-name" col-6 style="border-right: 0.5px solid grey;">{{buylead.description}}</ion-col >
                <ion-col class="pro-name" col-6> Quantity:<br>{{buylead.quantity}} {{buylead.uom}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="date" col-6 ><span style="background: green; color:#fff;">Posted</span>: {{buylead.posted_date | date:'dd-MM-yyyy'}}</ion-col >
                <ion-col class="date" col-6><span style="background: red; color:#fff;">Expires</span>: {{buylead.expiry_date | date:'dd-MM-yyyy'}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="date" col-6><span style="color:red" (click)="bimport(i)">Click for Import Policy</span></ion-col>
              <ion-col class="date" col-6><span style="color:red" (click)="bexport(i)">Click forExport Policy</span></ion-col>
            </ion-row>
              <ion-row>
                <ion-col col-4><button ion-button round small  color="warning" (click)="skipbuyleads(i)"> Skip Lead</button></ion-col>
                <ion-col col-4><button ion-button round small  color="primary" (click)="buyleaddetails(i)"> Buy Lead </button></ion-col>
                <ion-col col-4><button ion-button round small color="palegreen" (click)="remindBuyLeads(i)"> Remind Later </button></ion-col>
              </ion-row>

            </div>  


            </ion-card>
        <div>
          Didn't Find your Requirement?
          <button ion-button small block color="yellow" round (click)="postlead()">Click Here To Post a Sell Lead</button> 
        </div>
      </ion-slide>
      </ion-slides>
  </ion-grid>
</ion-content>

<ion-footer class="ftr">
  <ion-row class="ftr-row">
    <ion-col class="ftr-col" (click)="home()"
      ><ion-icon name="home" color="light" class="ftr-icon"></ion-icon>
      <p class="name-footer">Home</p></ion-col
    >
    <ion-col class="ftr-col-active" (click)="leads()"
      ><ion-icon ios="ios-albums" md="md-albums" class="ftr-icon" color="danger"></ion-icon>
      <p class="name-footer-active">Leads</p></ion-col
    >
    <ion-col class="ftr-col" (click)="chatting()"
      ><ion-icon ios="ios-chatboxes" md="md-chatboxes" class="ftr-icon" color="light"></ion-icon>
      <ion-badge id="cart-badge">{{showcount}}</ion-badge>
    <p class="name-footer">Chat</p></ion-col
    >
    <ion-col class="ftr-col" (click)="webinar()"
      ><ion-icon ios="ios-videocam" md="md-videocam" class="ftr-icon" color="light"></ion-icon>
      <p class="name-footer">MiiVision</p></ion-col
    >
    <ion-col class="ftr-col" (click)="quotes()"
      ><ion-icon ios="ios-send" md="md-send" class="ftr-icon" color="light"></ion-icon >
      <p class="name-footer">Post Lead</p></ion-col
    >
  </ion-row>
</ion-footer>
