page-buyer {
    .toolbar-title-md {
        font-size: 1.8rem;
    }
    .home-icon{

        padding-top: 15px;
    }
    .home-icon1{
        font-size: 2.5em;
        padding-top: 25px;
    }
    
}
