
<ion-header>
  <ion-navbar color="orangebtn" hideBackButton class="padding-top:10px;">
    <ion-row>
      <ion-col col-2 float-left style="font-size: 3em ;padding-top:28px;;" > </ion-col>
      <ion-col col-8 text-center style="padding-top:30px;" class="home-icon" ><img src="../assets/imgs/logos.png" ></ion-col>
      <ion-col col-2 style="font-size: 2.5em;padding-top: 31px;" (click)="menuCtrl.toggle()" color="dark" float-right><img src="../assets/imgs/menu.png" style="height:40px;" ><p class="name-footer" style="color:#111 !important">Menu</p></ion-col>
      </ion-row>
    </ion-navbar>
</ion-header>



<ion-content>
  <div class="crd-style" *ngFor="let lead of details,let i=index">
    <ion-grid>
      <h4 style="text-align: center; color: white; background: green;">Buyer Lead Details </h4>
  
      <ion-row style="background: red; color: white; text-align: center;">
        <ion-col>
          <span class="username" style="color:#ffffff">
            Lead posted by : {{lead.name}}</span
          >
          <br>
          <span class="username" style="color:#ffffff">
            Email Id : {{lead.email}}</span
          >
          <br>
          
          <span class="username" style="color:#ffffff">
            Lead posted from Country : {{lead.countryname}}</span
          >
        </ion-col>
        <div class="white-bg">
          <ion-row class="card-title">
            <ion-col>Valid From: {{lead.posted_date}}</ion-col>
            <ion-col>To: {{lead.expiry_date}}</ion-col>
          </ion-row>
          <ion-row class="card-title">
            <ion-col>Reference Id</ion-col>
            <ion-col>: {{lead.leadref_id}}{{lead.sno}} </ion-col>
          </ion-row>
          <ion-row class="card-title">
            <ion-col>Hs Code </ion-col>
            <ion-col>:{{lead.hsn_id}}</ion-col>
          </ion-row>
          <ion-row class="card-title">
            <ion-col>WCO Hs Code </ion-col>
            <ion-col>:{{lead.hsn_id | slice:0:6}}</ion-col>
          </ion-row>
          <ion-row class="card-title">
            <ion-col>Chapter </ion-col>
            <ion-col>: {{lead.chapter_id}}</ion-col>
          </ion-row>
          <!--<ion-row class="card-title" style="color:#111">
            <ion-col>Product:</ion-col>
            <ion-col>{{lead.product}}</ion-col>
          </ion-row> -->
          <ion-row class="card-title">
            <ion-col>Quantity </ion-col>
            <ion-col>: {{lead.quantity}} {{lead.uom}}</ion-col>
          </ion-row>
          <ion-row class="card-title">
            <ion-col>Lead Cost</ion-col>
            <ion-col>: {{lead.lead_cost}}</ion-col>
          </ion-row>
          <ion-row class="card-title" *ngIf="lead.price_inusd">
            <ion-col>{{lead.price_option}} Price </ion-col>
            <ion-col>: {{lead.price_inusd}}</ion-col>
          </ion-row>
          <ion-row class="card-title">
            <ion-col>Index Percentage</ion-col>
            <ion-col>: {{lead.index_per}}</ion-col>
          </ion-row>
          <ion-row class="card-title">
            <ion-col>Special Instruction </ion-col>
            <ion-col>: {{lead.special_instruc}}</ion-col>
          </ion-row>  
          <ion-row class="card-title">
            <ion-col>Inspection Authority</ion-col>
            <ion-col>: {{lead.inspection_auth}}</ion-col>
          </ion-row>

          <ion-row class="card-title">
            <ion-col>Country </ion-col>
            <ion-col>: {{lead.countryname}}</ion-col>
          </ion-row>
          <ion-row class="card-title">
            <ion-col>Business</ion-col>
            <ion-col>: {{lead.business_name}}</ion-col>
          </ion-row>
          <ion-row class="card-title">
            <ion-col>Description</ion-col>
            <ion-col>: {{lead.description}}</ion-col>
          </ion-row>
        </div>
        <!-- <button ion-button block color="dark" (click)="showdocs()"></button> -->
        <ion-row class="opt-btns" style="color:#111">
          <ion-col >
            <button
              ion-button
              round
              small
              color="light"
              (click)="respond()"
              class="user-btn"
            >
              Respond
            </button>
          </ion-col>
          <ion-col >
            <button
              ion-button
              round
              small
              color="light"
              class="user-btn"
              (click)="chatpg(i)"
            >
              Chat
            </button>
          </ion-col>
          <ion-col>
            <button
              ion-button
              round
              small
              color="light"
              class="user-btn"
              (click)="later()"
            >
              Later
            </button>
          </ion-col>
        </ion-row>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>


<ion-footer class="ftr">
  <ion-row class="ftr-row">
    <ion-col class="ftr-col" (click)="home()"><ion-icon name="home" color="light" class="ftr-icon"></ion-icon><p class="name-footer">Home</p></ion-col>
    <ion-col class="ftr-col-active" (click)="leads()"><ion-icon ios="ios-albums" md="md-albums" class="ftr-icon" color="danger"></ion-icon><p class="name-footer-active">Leads</p></ion-col>
    <ion-col class="ftr-col" (click)="chatting()"><ion-icon ios="ios-chatboxes" md="md-chatboxes" class="ftr-icon" color="light"></ion-icon><ion-badge id="cart-badge">{{showcount}}</ion-badge><p class="name-footer">Chat</p></ion-col>
    <ion-col class="ftr-col" (click)="webinar()"><ion-icon ios="ios-videocam" md="md-videocam" class="ftr-icon" color="light"></ion-icon><p class="name-footer">MiiVision</p></ion-col>
    <ion-col class="ftr-col"  (click)="quotes()"><ion-icon ios="ios-send" md="md-send" class="ftr-icon" color="light"></ion-icon ><p class="name-footer">Post Lead</p></ion-col>
    </ion-row>
 </ion-footer>