<ion-header>
  <ion-navbar color="orangebtn"  class="padding-top:10px;">
      <ion-col col-6 float-left style="padding-top:15px;" class="home-icon" ><img src="../assets/imgs/logos.png" style="height:70px;" ></ion-col>
    </ion-navbar>
</ion-header>
<ion-content class="bg-style" padding>
  <ion-row>
    <ion-col col-11>
      <ion-list>
        <ion-item>
          <ion-input type="text" placeholder="Product Name" #product></ion-input>
        </ion-item>      
      </ion-list>
    </ion-col>
    <ion-col col-1 style="font-size: 25px;" (click)="searchProduct()">
     <ion-icon name="search" item-right color="danger" style="margin-top:10px"> </ion-icon>
    </ion-col>
   </ion-row>
<div *ngIf="searchresult!=0">
<ion-card *ngFor="let hscode of searchresult; let i=index">
<ion-card-header color="warning">
  HSCODE:{{hscode.hscode}} <br>
  HS4 : {{hscode.hs4}} <br>
  HS5 :{{hscode.hs5}} <br>
  HS6 : {{hscode.hs6}} <br>
</ion-card-header>
<ion-card-content>
  DESCRIPTION:{{hscode.english}} 
  <p style="background: rgb(248, 111, 111); color:#ffffff">Import Policy : {{hscode.imp_policy}}</p>
  <p style="background: rgb(248, 111, 111); color:#ffffff">Export Policy : {{hscode.exp_policy}}</p>
  <p style="background: green; color:#ffffff">  CHAPTER{{hscode.chapter_id}}</p>
</ion-card-content>
<ion-row>
  <ion-col col-4><button ion-button round small	(click)="Login()"> View Maps</button></ion-col>
  <ion-col col-4><button ion-button round small	(click)="Login()" color="warning">View Leads</button></ion-col>
  <ion-col col-4><button ion-button round small	(click)="Login()">Post Lead</button></ion-col>
</ion-row>
</ion-card>
</div>
<div *ngIf="searchresult==0" >
<p style="text-align: center; color:red"> No Records Found</p>
</div>
<!-- <ion-fab right bottom *ngIf="searchresult==0" >
  <button ion-fab color="orange" (click)="addhscode()"><ion-icon name="add"></ion-icon></button>
  
</ion-fab> -->
</ion-content>



