<ion-header>
  <ion-navbar color="orangebtn" hideBackButton class="padding-top:10px;">
    <ion-row>
      <ion-col col-2 float-left style="font-size: 3em ;padding-top:28px;;" (click)="Back()"><ion-icon name="arrow-back" color="danger"></ion-icon></ion-col>
      <ion-col col-8 text-center style="padding-top:30px;" class="home-icon" ><img src="../assets/imgs/logos.png" ></ion-col>
      <ion-col col-2 style="font-size: 2.5em;padding-top: 31px;" (click)="menuCtrl.toggle()" color="dark" float-right><img src="../assets/imgs/menu.png" style="height:40px;" ><p class="name-footer" style="color:#111 !important">Menu</p></ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>


<ion-content >
 
  <div padding>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="month">
        Month
      </ion-segment-button>
      <ion-segment-button value="quarter">
        Quarter
      </ion-segment-button>
      <ion-segment-button value="year">
        Year
      </ion-segment-button>
    </ion-segment>
  </div>
  
  <div [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'month'">
      <ion-grid>
        <ion-row>
          <ion-col col-4 style="background: orangered; color: #fff;"> Month</ion-col>
          <ion-col col-4 style="background: orangered; color: #fff;"> Target</ion-col>
          <ion-col col-4 style="background: orangered; color: #fff;"> Achievement</ion-col>
        </ion-row>
<!--         <div *ngIf='targetdata.month'> -->
        <ion-row *ngFor="let mo of targetdata; let i = index;" >
            
            <ion-col col-4 style="background: rgb(236, 235, 235); color: #111;"> {{ mo.month }}</ion-col>
            <ion-col col-4 style="background: rgb(236, 235, 235); color: #111;"> {{ mo.target }}</ion-col>
            <ion-col col-4 style="background: rgb(236, 235, 235); color: #111;"> {{ mo.achievement }}</ion-col>
        </ion-row>
    <!--   </div> -->
<!--     <div *ngIf='!targetdata.quarter'>
      <ion-row >
        <ion-col col-11 style="background: rgb(236, 235, 235); color: #111;"> No Record Founds...</ion-col>
      </ion-row>
    </div>  --> 
      </ion-grid>
      <button ion-button small round (click)="monthreport()">Send Report</button>
    </ion-list>
    <ion-list *ngSwitchCase="'quarter'">
      <ion-grid>
        <ion-row>
          <ion-col col-4 style="background: orangered; color: #fff;"> Quarter</ion-col>
          <ion-col col-4 style="background: orangered; color: #fff;"> Target</ion-col>
          <ion-col col-4 style="background: orangered; color: #fff;"> Achievement</ion-col>
        </ion-row>
      <div *ngIf='targetdata.quarter'>
        <ion-row *ngFor="let qa of targetdata; let i = index;" >
          <ion-col col-4 style="background: rgb(236, 235, 235); color: #111;"> {{ qa.month }}</ion-col>
          <ion-col col-4 style="background: rgb(236, 235, 235); color: #111;"> {{ qa.target }}</ion-col>
          <ion-col col-4 style="background: rgb(236, 235, 235); color: #111;"> {{ qa.achievement }}</ion-col>
        </ion-row>
       </div>
       <div *ngIf='!targetdata.quarter'>
        <ion-row >
          <ion-col col-11 style="background: rgb(236, 235, 235); color: #111;"> No Record Founds...</ion-col>
        </ion-row>
      </div>  
      </ion-grid>
      <button ion-button small round (click)="qreport()">Send Report</button>
    </ion-list>
    <ion-list *ngSwitchCase="'year'">
      <ion-grid>
        <ion-row>
          <ion-col col-4 style="background: orangered; color: #fff;"> Year</ion-col>
          <ion-col col-4 style="background: orangered; color: #fff;"> Target</ion-col>
          <ion-col col-4 style="background: orangered; color: #fff;"> Achievement</ion-col>
        </ion-row>
        <div *ngIf='targetdata.year'>
          <ion-row *ngFor="let yr of targetdata; let i = index;" >
            <ion-col col-4 style="background: rgb(236, 235, 235); color: #111;"> {{ yr.month }}</ion-col>
            <ion-col col-4 style="background: rgb(236, 235, 235); color: #111;"> {{ yr.target }}</ion-col>
            <ion-col col-4 style="background: rgb(236, 235, 235); color: #111;"> {{ yr.achievement }}</ion-col>
          </ion-row>
        </div>
        <div *ngIf='!targetdata.year'>
          <ion-row >
            <ion-col col-11 style="background: rgb(236, 235, 235); color: #111;"> No Record Founds... </ion-col>
          </ion-row>
        </div> 
      </ion-grid>
      <button ion-button small round (click)="yreport()">Send Report</button>
    </ion-list>
  </div>
 
</ion-content>

<ion-footer class="ftr">
  <ion-row class="ftr-row">
    <ion-col class="ftr-col" (click)="home()"><ion-icon name="home" color="light" class="ftr-icon"></ion-icon><p class="name-footer">Home</p></ion-col>
    <ion-col class="ftr-col-active" (click)="usermodule()"><ion-icon ios="ios-people" md="md-people" class="ftr-icon" color="danger"></ion-icon><p class="name-footer-active">Users</p></ion-col>
    <ion-col class="ftr-col" (click)="accounts()"><ion-icon ios="ios-cash" md="md-cash" class="ftr-icon" color="light"></ion-icon><p class="name-footer">Account</p></ion-col>
    <ion-col class="ftr-col" (click)="reports()"><ion-icon ios="ios-list-box" md="md-list-box" class="ftr-icon" color="light"></ion-icon><p class="name-footer">Reports</p></ion-col>
    </ion-row>
 </ion-footer>